<div class="navbar__container">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a href="./home">Home</a>
    </li>
    <li role="presentation">
      <a href="./events">Events</a>
    </li>
    <li role="presentation">
      <a href="./files">Files</a>
    </li>
    <li role="presentation">
      <a href="./officers">Officers</a>
    </li>
    <li class="pull-right" role="presentation">
      <a href="./account">Account</a>
    </li>
  </ul>
</div>

<div class="upcoming-events__type">
<p>There is stuff over here</p>
</div>

{{outlet}}

<div class="footer__container">
  <p class="footer__text">&copy;Michael Fryer and Trevor Brooks</p>
</div>