<div class="page-header">
  <h1>Contests</h1>
</div>

<div class="panel-group" id="contests" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="2017_Regional_Header" data-toggle="collapse" data-parent="#contests" aria-expanded="true" aria-controls="2017_Regional_Body" href="#2017_Regional_Body">
      <h4 class="panel-title">
        2017 Regional Programming Competition
      </h4>
    </div>
    <div id="2017_Regional_Body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="2017_Regional_Header">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt class="text-capitalize">Location</dt>
          <dd>
            <address>
              <strong>Montana Tech</strong><br>
              1300 W Park St.<br>
              Butte, MT, 59701<br>
              {{!-- <abbr title="Natural Resources Building">NRB</abbr> 228 --}}
              <abbr title="Phone">P:</abbr> (800) 445-8324
            </address>
          </dd>
          <dt class="text-capitalize">Site Coordinator</dt>
          <dd>
            <address>
              <strong>Site Coordinator</strong> - Phil Curtiss<br>
              <a href="mailto:#">pcurtiss@mtech.edu</a>
            </address>
          </dd>
          <dt class="text-capitalize">Practice Time</dt>
          <dd>November ??, 2017 ??:?? - ??:??</dd>
          <dt class="text-capitalize">Competition Time</dt>
          <dd>November ??, 2017 9:00 a.m. - 3:00 p.m.</dd>
          <dt class="text-capitalize">Allowed Materials</dt>
          <dd>BABA</dd>
          <dt class="text-capitalize">Food</dt>
          <dd>BABA</dd>
          <dt class="text-capitalize">Housing</dt>
          <dd>BABA</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
