<div class="jumbotron jumbotron--home">
  <h1>Welcome to the Montana Tech ACM Manager!</h1>
  <p class="about-acm">The Montana Tech Student Chapter of the ACM is our local Computer Science and Software Engineering professional organization. We host many events throughout each semester including: meetings, LAN parties, industry trips, and programming competitions. This a great way to get involved on campus and meet some of the other students in the department. In addition to these events, we help build exhibits for the Science Mine and are working towards setting up a tutoring and study group system for students in the Computer Science and Software Engineering departments at Montana Tech. For more information on what is currently scheduled preview our upcomming events in the sidebar or, for more details, navigate to our events page.</p>
</div>
<br>

{{outlet}}
