<IfModule mod_rewrite.c>

RewriteEngine on


RewriteBase /~tbrooks/ACM-Manager/backend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /~tbrooks/ACM-Manager/backend/server.php [L]

</IfModule>
