<div class="post-overlay__contents">
  <p>Add User Overlay</p>

  <form>
    {{create-form-fields formData=formData}}

    {{submit-cancel-overlay-buttons cancelCallback=(action 'onCancelButtonPress') submitCallback=(action 'onSubmitButtonPress')}}
  </form>

</div>