<div class="post-overlay__contents">
  <p>Contact Us Overlay</p>
</div>

<button {{action "onSubmitButtonPress"}} type="submit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"/> Send</button>
<button {{action "onCancelButtonPress"}} type="button" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"/> Cancel</button>