{{#if discordServerName}}
  <a href={{discordLink}} target="_blank">
    <img src="./assets/discord-logo.png" alt="Discord Logo." class="discord-img">
  </a>

  {{discordServerName}}
  Online users <span class="badge">{{onlineUsers}}</span>
{{/if}}
{{yield}}
