<div class="panel-group" role="tablist">
  <div id="upcoming-events" class="panel panel-info upcoming-events upcoming-events-localized">
    <div class="panel-heading" href="#upcoming-events-collapsable" role="button" data-toggle="collapse" class="unselectable">
      <h3 class="panel-title">Upcoming Events</h3>
    </div>

    <div class="panel-collapse collapse in" role="tabpanel" id="upcoming-events-collapsable" aria-expanded="true">
      <div class="panel-body">
        Sort event preview by:<br>
        <div class="btn-group" role="group" aria-label="">
          <button disabled="disabled" type="button" class="btn btn-xs btn-default">Time</button>
          <button type="button" class="btn btn-xs btn-default">Type</button>
        </div>
      </div>

      <div class="list-group upcoming-events-list no-scrollbar" data-spy="scroll">
        {{#each-in eventData.future as |key value|}}
          {{list-item-event data=value key=key}}
        {{/each-in}}
      </div>
    </div>
  </div>
</div>
