<div class="form-group">
  <label for="fName" class="col-sm-2 control-label">First Name</label>
  <div class="col-xs-5">
    <input type="text" class="form-control" id="fName" placeholder="Ken">
  </div>
</div>