<div class="post-overlay__contents">
  <p>Add User Overlay</p><br>
  <table>
    {{#each-in formData as |key value|}}
      <tr>
        <td>
          {{underscore-to-space key}}: 
        </td>
        <td>
          {{input name=key}}
        </td>
      </tr>
    {{/each-in}}
  </table>
</div>

{{yield}}

{{submit-cancel-overlay-buttons cancelCallback=(action 'onCancelButtonPress') submitCallback=(action 'onSubmitButtonPress')}}
