<div class="form-group">
  <label for="lName" class="col-sm-2 control-label">Last Name</label>
  <div class="col-xs-5">
    <input type="text" class="form-control" id="lName" placeholder="Bone">
  </div>
</div>