<div class="post-overlay__contents">
  <h3>Log In</h3>
  
  <form class="form-horizontal">
    {{email-form-field id='inputEmail' placeholder='Email'}}

    {{password-form-field id='password' placeholder='Password'}}

    {{#submit-cancel-overlay-buttons cancelCallback=(action "onCancelButtonPress") submitCallback=(action "onSubmitButtonPress")}}
      <button {{action "onCreateAccountButtonPress"}} type="button" class="btn btn-warning btn-xs">Create Account</button>
    {{/submit-cancel-overlay-buttons}}
  </form>
</div>