<div class="post-overlay__contents">
  <h3>Log In</h3>
  
  <form class="form-horizontal" {{action 'authenticate' on='submit'}} {{action cancelCallback on='submit'}}>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>

    <div class="form-group submit-cancel-btn__container">
      <button type="submit" class="btn btn-success btn-xs pull-left">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"/>Submit
      </button>
      <button {{action "onCreateAccountButtonPress"  bubbles=false}} type="button" class="btn btn-warning btn-xs pull-right">
        Create Account
      </button>
    </div>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
