<div class="btn-group pull-left" role="group" aria-label="...">
  <button type="submit" class="btn btn-success">{{submit}}</button>
  <button type="reset" class="btn btn-info">{{reset}}</button>
  {{yield}}
</div>

<div class="btn-group pull-right" role="group" aria-label="...">
  <button type="button" class="btn btn-danger" data-dismiss="modal">{{close}}</button>
</div>
