<label for="{{idPrefix}}-password" class="col-sm-2 control-label">{{placeholder}}</label>
<div class="col-sm-10">
  {{input type="password" class="form-control" id=(string-append idPrefix "-password") placeholder=placeholder value=value required="required"}}
  <span id="{{idPrefix}}-password_span" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
</div>
