<div id="remove-user-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remove User</h4>
      </div>
      <div class="modal-footer">
        {{modal-buttons}}
      </div>
    </div>
  </div>
</div>
