<div class="post-overlay__contents">
  <h3>Reset Password</h3>

  <form class="form-horizontal">
    <p>Enter account email.</p>

    {{email-form-field id='inputEmail' placeholder='Email'}}

    {{submit-cancel-overlay-buttons cancelCallback=(action "onCancelButtonPress") submitCallback=(action "onSubmitButtonPress")}}
  </form>
</div>