<div class="form-group">
  <label for="{{id}}" class="col-sm-2 control-label">{{placeholder}}</label>
  <div class="col-xs-5">
    <input type="text" class="form-control" id="{{id}}" placeholder="{{placeholder}}">
  </div>
</div>