/* Routes */
@import 'home.css';

/* Components */
@import 'navbar.css';

.form-margin {
  margin: calc(5px + 1%);
}

.resize-vertical {
  resize: vertical;
}

.footer__container {
  position: absolute;

  bottom: 1%;

  text-align: center;
  width: 100%
}

.footer__text {
  margin: auto;
}
