/* Routes */
@import 'officers.css';

/* Components */
@import 'navbar.css';
@import 'events-sidebar.css';
@import 'jumbotron.css';
@import 'announcements-bar.css';

.form-margin {
  margin: -webkit-calc(5px + 1%);
  margin: -moz-calc(5px + 1%);
  margin: calc(5px + 1%);
}

.resize-vertical {
  resize: vertical;
}

.footer__container {
  bottom: 1%;

  text-align: center;
  width: 100%
}

.footer__text {
  margin: auto;
}

.pointer:hover {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.content-container {
  margin: 0px 1%;
}

@media only screen
and (max-width: 1200px) {
  .content-container {
    width: 98%;
  }
}

@media only screen
and (min-width: 1200px) {
  .content-container {
    width: -moz-calc(100% - 100px - 5% - 3%);
    width: -webkit-calc(100% - 100px - 5% - 3%);
    width: calc(100% - 100px - 5% - 3%);
  }
}

body {
  padding-top: 50px;
  
  background-color: #aaa;
}
  
.events-list {
  overflow-y: scroll;
  
  position: relative;
  
  width: 100%;
}

.announcements-container {
  margin: 1%;
}
