.jumbotron--home {
  border-radius: -webkit-calc(5px + 0.25%);
  border-radius: -moz-calc(5px + 0.25%);
  border-radius: calc(5px + 0.25%);
  
  margin: 0px 1%;
  margin: 0px 1%;
  margin: 0px 1%;
  
  padding: 0px 0.5%;
  padding: 0px 0.5%;
  padding: 0px 0.5%;
}

.about-acm {
  text-indent: 15px;
}
