.tab__right {
  position: absolute;

  right: 1%;
}

.navbar__container {
  margin-bottom: 5px;
}

.navbar__brand__image {
  height: 40px;
  width: 50px;
}

.navbar__brand {
  float: left;
  padding: 5px 15px 5px 5px;
  font-size: 18px;
  line-height: 20px;
}

.pills__margin-top {
  margin-top: 5px;
}

.navbar-btn__small {
  margin-top: 2px;
  margin-bottom: 10px;
}

.discord-wigit {
  height: 70px;
  width: 100%;
}
